.justify-content-md-center {
  border: 1px solid #ccc;

  .event-form {
    padding: 50px;
    form {
      .submit {
        text-align: center;
      }

      .error,
      .required {
        color: red;
      }

      .error {
        font-size: 12px;
      }

      .event-type {
        .radio-buttons {
          margin-left: 12px;
          label {
            margin-left: 8px;
            margin-top: -4px;
          }
        }
      }
    }
  }
}
